html {
	background-color: black;
}

.texto {
	color: white;
	text-align: center;
	margin-top: 300px;
	font-family: Comic Sans, Comic Sans MS, cursive;
}

.botão {
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: black;
	background-color: white;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	margin-top: 100px;
	margin-left: 640px;
	font-family: Comic Sans, Comic Sans MS, cursive;
}

.botão:hover {background-color: #d1cfcf}

.botão:active {
  background-color: #d1cfcf;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
