html {
	background-color: black;
}

.texto {
	text-align: center;
	color: white;
	margin-top: 280px;
	font-family: Comic Sans, Comic Sans MS, cursive;
}

.video {
	margin-top: 200px;
	margin-left: 550px;
	margin-right: 550px;
	padding: 0px;
	border: 2px solid white;
}

.centro {
  line-height: 220px;
  height: 200px;
  border: 3px solid black;
  text-align: center;
}